<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body align="center">
    <h1>Welcome to Patricia's Kitchen Employees Page</h1>
    <p>{{message}}</p>
    <div>
        <form class="" action="/" method="post">
            <input type="text" name="username"placeholder="Username"><br><br>
            <input type="password" name="password"placeholder="Password" autocomplete="off"><br><br>
            <input type="submit" class="button"name="logIn" value="Login">
            <br><br> <a href='/register'> New users register here </a>
        </form>
    </div>



</body>
