<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <h1>Welcome to Patricia's Kitchen Employees Page</h1>
    <div class="registerBox">
      <br>
      {{regMsg}}<br><br>
        <form class="" action="/register" method="post">
            Full name: <input type="text" name="fullname"><br><br>
            Username: <input type="text" name="username"><br><br>
            Password: <input type="password" name="password" autocomplete="off"><br><br>
            Confirm password: <input type="password" name="confPass" autocomplete="off"><br><br>
            <input type="submit" class="button submitUser"name="register"value="Register"><br><br>
            <input type="submit" class="button"name="cancel"value="Cancel">
        </form>
    </div>



</body>
